<div class="banner-container"></div>

<section class="section-cards">
    <header class="section-cards__header">
        <h1>Los mejores juguetes los encontras en Jugueteria Cosmica</h1>
        <p>¡Agregá al carrito todos los productos que te gusten!</p>
    </header> 

    <div class="cards-container">
    </div>

    <footer class="section-cards__footer">
        <div class="footer__newsletter">
            <h3>COMUNIDAD JUGUETERIA COSMICA</h3>
            <p>Suscribite a nuestro news y enterate de todas las promociones</p>
            <input class="footer__newsletter-input" id="newsletter" type="text" placeholder="Direccion de correo electronico">
            <label class="footer__newsletter-label" for="newsletter" title="Enviar" > > </label>
        </div>
    </footer>
</section>
