<h2 class="we-title">Nosotros</h2>
<div class="banner__container">
    <div class="text__container">
        <p>Hola, soy Gabriel Naone, tengo 31 años y actualmente estoy cursando el Bootcamp Full Stack Engineer en <a href="https://www.educacionit.com/bootcamp-full-stack" target="_blank"> Educacion IT.</a>
        </p>
        <p>Anteriormente realice el curso de Python para no programadores, tambien en  Educacion IT, y fue el punta pie inicial para comenzar meterme de lleno en el mundo de la programación.</p>
    </div>
</div>

